<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>E-mechanik - strona główna</title>
</head>



<body>
<div class="container" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"><br><br>
    <div class="row">
        <div class="col col-md-12">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link active" href="/addrepair">Zleć naprawę</a>
                <a class="nav-item nav-link disabled" href="#">Rejestracja</a>
                <a class="nav-item nav-link disabled" href="#">O aplikacji</a>
                <a class="nav-item nav-link" href="/logout">Wyloguj z konta<br><span sec:authentication="name"></span></a>
            </nav>
        </div>
    </div>
</div>


</body>


<section class="fdb-block pt-0">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-5">
                <h2>Contact Us</h2>
                <p class="text-h3">
                    Zadzwoń do Wojtka, on Ci pomoże!
                </p>
                <p class="text-h3">
                    On wszystko może.
                </p>
                <p class="text-h3 mt-5">
                    <strong>Email:</strong> <a href="https://www.froala.com">mechanik@website.com</a>
                </p>
                <p class="text-h3">
                    <strong>Phone:</strong> <a href="https://www.froala.com">+48 500 123 456</a>
                </p>
            </div>

            <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
                <form th:action="@{/repair}" method="post">
                    <div class="row">
                        <div class="col">
                            <input required type="text" class="form-control" placeholder="Marka samochodu" id="company"
                                   name="company">
                        </div>
                        <div class="col">
                            <input required type="text" class="form-control" placeholder="Model samochodu" id="model"
                                   name="model">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input required type="number" max="2017" min="1900" class="form-control"
                                   placeholder="Rok produkcji" id="yearOfProduction"
                                   name="yearOfProduction">
                        </div>
                        <div class="col">
                            <input required type="text" class="form-control" placeholder="Numer rejestracyjny"
                                   id="registrationNumber" name="registrationNumber">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button type="submit" class="btn" id="submit">Dodaj</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <br>
</section>
</body>
</html>