<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>E-mechanik - strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <div class="col col-md-12">
        <div class="jumbotron">
            <h1 class="display-3">E-mechanik</h1>
            <p class="lead">W prosty sposób umow wizytę u mechanika.</p>
            <hr class="my-4">
            <p>Ułatw sobie życie i już teraz sprawdź dostępne terminy.</p>
            <p class="lead">
                <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
            </p>

            <h1>Dodano użytkownika.</h1>

            <a href = "/registration">Powrót</a>
        </div>
    </div>
